
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    justify-content: center;
   
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: blue;
    font-size: 24px;
    margin-top: 3px;
    
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;

}
hr{
    border: 1px solid blueviolet;
    margin-bottom: 27px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;

}
.player{
    display: flex;
    align-items: center;
   
}
.player-name{
    padding: 16px;
    font-size: 18px;
}
.player img{
    width: 56px;
    height: 56px;
}

/*---------
 TOP BLOG STYLES
 -----------*/
 .blogs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-row-gap: 26px;
 }

 .blog .thumbnail img {
     
     width: 177px;
     height: 177px;
 }
 .blog{
     display: flex;
 }
 .blog-info{
     margin-left: 16px;
 }
 .blog-title{
     font-size: 20px;
 }
 .blog-author{
     color:gray;
     font-size: 16px;
 }
 .blog-author a{
     text-decoration: none;
     font-size: 16px;
 }